.devContainer {
	padding: 0rem 1.5rem;
	height: 58vh;
	overflow-y: scroll;
}

/* EDUC AND EXP  */

.devTop {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
	gap: 1.5rem;
}

.devContainer h4 {
	margin: 0.75rem 0.5rem;
	font-size: 1.35rem;
	line-height: 1.8rem;
	font-weight: 700;
}

.devTop h5 {
	font-weight: 600;
	font-size: 1rem;
	line-height: 1rem;
	margin: 0.5rem;
}

.devTop p {
	margin: 0.5rem;
}

.experienceBottom {
	display: grid;
	grid-template-columns: repeat(12, minmax(0, 1fr));
}

.ctaDiv {
	grid-column: span 5 / span 5;
	margin-top: 10px;
}
.listDiv {
	grid-column: span 7 / span 7;
}
.listDiv h6 {
	font-size: 1rem;
	margin: 8px;
}

.experience a {
	background-color: rgb(175, 40, 40);
	width: 140px;
	padding: 5px 10px;
	margin-bottom: 5px;
	display: flex;
	align-items: center;
	font-weight: 500;
	cursor: pointer;

	border-radius: 20px;
}
.experience a:hover {
	color: black;
}

.cta {
	margin-right: 5px;
	font-size: small;
	color: lightgray;
}

/* LANGUAGES PART  */
.devBottom {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 1.5rem;
}

.techGrid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
	gap: 0.5rem;
}

.techDiv {
	display: flex;
	align-items: center;
}
/* MEDIA QUERIES  */

/* adjust media queries not autofit  */
/* of experience and affiliations */

@media screen and (max-width: 963px) {
	.devContainer {
		height: auto;
	}
}

@media screen and (max-width: 500px) {
	.ctaDiv {
		grid-column: span 12 / span 12;
	}
	.listDiv {
		grid-column: span 12 / span 12;
	}
	.devTop {
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	}
	.devTop h5,
	.devTop p {
		font-size: 0.8rem;
	}
	.devTop h4 {
		font-size: 1.1rem;
	}
	.devTop h6 {
		font-size: 0.9rem;
	}
	.devBottom {
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	}
	.tools {
		margin-bottom: 20px;
	}
	.ctaDiv {
		margin-bottom: 10px;
	}
}
