.container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	padding-top: 0.25rem;
}

/* <h6 className="my-3 text-base font-medium"> */

.cardsContainer {
	flex-grow: 1;
	padding: 1rem;
	margin-left: -1.5rem;
	margin-right: -1.5rem;
}
.cardsContainer > h3 {
	font-weight: 600;
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
	font-size: 1.25rem;
	line-height: 1.75rem;
	letter-spacing: 0.025em;
	padding-left: 7px;
}

.cardGrid {
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
	display: grid;
	align-items: center;
	gap: 1rem;

	grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
}

.card {
	padding: 0.5rem;
	/* grid-column: span 1 / span 1; */

	/* contemplating  */
	/* background-color: whitesmoke;
	border-radius: 10px;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); */
}

/* [data-theme="dark"] .card {
	background-color: #333;
} */
