.navbar {
	display: flex;
	justify-content: flex-end;
	padding: 10px 25px;
}

.navbar h2 {
	margin-right: auto;
	border-bottom: 5px solid rgb(175, 40, 40);
}

.navbar a {
	margin-left: 12px;
}

.active {
	font-weight: 800;
}

.inactive {
	font-weight: 300;
}
