.navbar {
	display: flex;
	justify-content: flex-end;
	padding: 10px 25px;
}

.navbar h2 {
	margin-right: auto;
	border-bottom: 5px solid rgb(175, 40, 40);
}

.navbar a {
	margin-left: 12px;
	font-weight: 800;
}

.active {
	color: rgb(175, 40, 40);
}

@media screen and (max-width: 500px) {
	.navbar {
		justify-content: center;
		min-height: 50px;
	}
	.navbar h2 {
		display: none;
	}
	.navbar a {
		margin-top: 10px;
		margin-bottom: 10px;
		border-bottom: 1px solid gray;
	}
}
