.projectContainer {
	overflow-y: scroll;
	padding: 0.5rem 1.25rem;
	height: 55vh;
}
.projectContainer > h2 {
	text-align: center;
	margin: 15px;
}
.projectContainer span {
	color: rgb(175, 40, 40);
}

.projectGrid {
	position: relative;
	display: grid;
	align-items: center;
	gap: 1rem;
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

	margin-right: 5px;
}

@media screen and (max-width: 963px) {
	.projectContainer {
		height: auto;
	}
}
